[Unit]
Description=PasteMe API Server Service
After=network.target

[Service]
# TODO
EnvironmentFile=/etc/pastemed
Type=simple
User=nobody
Restart=on-failure
RestartSec=5s
ExecStart=GIN_MOD=release /usr/local/pastemed/pastemed

[Install]
WantedBy=multi-user.target