[Unit]
Description=PasteMe API Server Service
After=network.target

[Service]
EnvironmentFile=/etc/pastemed/config
Type=simple
User=nobody
Restart=on-failure
RestartSec=5s
ExecStart=/usr/local/pastemed/pastemed

[Install]
WantedBy=multi-user.target